$primary-color: var(--ion-color-primary);
$primary-color-contrast: var(--ion-color-primary-contrast);
$secondary-color: var(--ion-color-secondary);
$secondary-color-contrast: var(--ion-color-secondary-contrast);
$font-family: var(--ion-font-family);

#theme-switcher {
    transform: --default-transition;
}

:root[data-theme="light"] {
    /** primary **/
    --ion-color-primary: #e8ae6a;
    --ion-color-primary-rgb: 232, 174, 106;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #cc995d;
    --ion-color-primary-shade-rgb: rgb(204, 153, 93);
    --ion-color-primary-tint: #eab679;

    /** secondary **/
    --ion-color-secondary: #f0c693;
    --ion-color-secondary-rgb: 240, 198, 147;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #d3ae81;
    --ion-color-secondary-tint: #f2cc9e;

    /** Custom Colors **/
    --ion-item-background: var(--ion-background-color);
    --ion-color-shadow-rgba: rgba(0, 0, 0, 0.3);
    --ion-background-color-card-header: #f4f4f4;
    --ion-color-active-percentagebar: #e8ae6a;
    --ion-background-percentagebar-color: #f4f4f4;
    --ion-color-text-percentage-bar: #000000;
    --ion-color-toggle-checked-border: #875a35;
    --ion-color-header-contrast: #000;
    --ion-menu-color: #000;
    --ion-title-color: #000;
}



:root[data-theme="dark"] {
    /** primary **/
    --ion-color-primary: #b1723e; // Header Color and Active Bars.
    --ion-color-primary-rgb: 165, 130, 103;
    --ion-color-primary-contrast: #040e11;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #b98255;
    --ion-color-primary-tint: #864a22;

    /** secondary **/
    --ion-color-secondary: #c1956b;
    --ion-color-secondary-rgb: 193, 149, 107;
    --ion-color-secondary-contrast: #0b1113;
    --ion-color-secondary-contrast-rgb: 8, 13, 14;
    --ion-color-secondary-shade: #cda889;
    --ion-color-secondary-tint: #9a7556;

    /** Custom Colors **/
    --ion-background-color-card-header: var(--ion-color-toolbar-primary);
    --ion-color-shadow-rgba: rgba(114, 117, 133, 0.3);
    --ion-background-color: #2b2f42;
    --ion-background-color-rgb: 43, 47, 66;
    --ion-color-toolbar-primary: #353a50;
    --ion-color-toggle-checked-border: #e8ae6a;
    --ion-color-header-contrast: #eee;
    --ion-menu-color: #eee;
    --ion-title-color: #eee;
}
